In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [285]:
s = pd.Series([1,3,5,6,np.nan, 6,7])
s = [1,3,5,6,np.nan,7,7]

date = pd.date_range('20180302', periods=6)
date

df2 = pd.DataFrame({
            'A' : 2,
            'B' : pd.Timestamp('20180302'),
            'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
            'D' : np.array([3] * 4, dtype='int32'),
            'E' : pd.Categorical(["Test", "Train", "test", "train"]),
            'F' : 'foo'
})

In [286]:
df2[:]['E'] = df2[df2.E == "Test"]['E'] = 0

C:\Users\Nguyen Manh Luc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [287]:
df2[df2.E == "Test"]['E']

0    Test
Name: E, dtype: category
Categories (4, object): [Test, Train, test, train]

In [288]:
df2

   A          B    C  D      E    F
0  2 2018-03-02  1.0  3   Test  foo
1  2 2018-03-02  1.0  3  Train  foo
2  2 2018-03-02  1.0  3   test  foo
3  2 2018-03-02  1.0  3  train  foo