In [292]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, date

In [293]:
# I. Create database
col_name = ['studentId','classId','Name','Sex','BirthDay', 'Mark']
student_num = 100
student_id = []
class_id = []
birthday = []
Name = []

for x in range(student_num):
    student_id.append('S' + np.str(x))

class_id = []
for x in range(student_num):
    class_id.append('class' + np.str(np.random.randint(1,4,1)[0]))

# Create random name
firt_name = ['Nguyen', 'Tran', 'Do', 'Le', 'Luong']
mid_name = ['Van', 'Thi', 'Thanh', 'Quynh', 'Lai']
last_name = ['Kiet', 'Tam', 'Luc', 'Nam', 'Hong', 'Tuan', 'Hai', 'Hoa']

for x in range(student_num):
    Name.append(firt_name[np.random.randint(0, len(firt_name))] + ' ' + mid_name[np.random.randint(0,len(mid_name))] + ' ' + last_name[np.random.randint(0,len(last_name))] )
    
Sex = np.random.randint(0, 2, student_num)
Sex = list(map(lambda x: ['Nu', 'Nam'][x], Sex))

# Create data for Birthday
for x in range(100):
    birthday.append(pd.Timestamp(np.random.randint(1980, 1999),np.random.randint(1,12), np.random.randint(1,28)))

# Random mark of student
Mark = np.random.randint(1,10, 100)
Mark

# Create dataFrame for Student information
len(birthday)

100

In [294]:
dataFrame = pd.DataFrame({
    'Name': Name,
    'Student Id' : student_id,
    'Mark' : Mark,
    'Sex' : Sex,
    'Birthday' : birthday,
    'Mark' : Mark,
    'Class' : class_id
})

dataFrame.head(5)

    Birthday   Class  Mark            Name  Sex Student Id
0 1980-08-08  class3     7      Le Lai Hai  Nam         S0
1 1984-11-14  class1     4      Le Lai Tam   Nu         S1
2 1993-11-05  class3     4  Nguyen Thi Tam   Nu         S2
3 1983-06-01  class1     6   Luong Thi Luc   Nu         S3
4 1988-10-25  class1     6    Tran Thi Hoa  Nam         S4

In [299]:
# List of student Sex is Nu
dataFrame[dataFrame.Sex == 'Nu']

# List of student Sex is Nu and Mark > 8
dataFrame[((dataFrame.Sex == 'Nu') & (dataFrame.Mark> 8))]

# Calculator Age from Birthday
def calculate_age(born):
    return date.today() - born.year

dataFrame["Age"] = pd.to_datetime(
    dataFrame.Birthday
dataFrame

     Birthday   Class  Mark              Name  Sex Student Id        Age
0  1980-08-08  class3     7        Le Lai Hai  Nam         S0 1980-08-08
1  1984-11-14  class1     4        Le Lai Tam   Nu         S1 1984-11-14
2  1993-11-05  class3     4    Nguyen Thi Tam   Nu         S2 1993-11-05
3  1983-06-01  class1     6     Luong Thi Luc   Nu         S3 1983-06-01
4  1988-10-25  class1     6      Tran Thi Hoa  Nam         S4 1988-10-25
5  1997-04-02  class1     9  Luong Quynh Tuan  Nam         S5 1997-04-02
6  1982-02-05  class1     7       Le Van Hong  Nam         S6 1982-02-05
7  1990-05-08  class3     1     Tran Lai Hong   Nu         S7 1990-05-08
8  1987-07-12  class1     2        Do Thi Hoa  Nam         S8 1987-07-12
9  1986-03-17  class2     6        Do Lai Tam   Nu         S9 1986-03-17
10 1995-07-19  class2     5      Do Quynh Hai   Nu        S10 1995-07-19
11 1990-09-20  class2     1        Le Thi Hai   Nu        S11 1990-09-20
12 1980-08-14  class3     6  Nguyen Quynh Nam   Nu        S12 1980-08-14
13 1982-08-08  class1     9        Do Lai Hai   Nu        S13 1982-08-08
14 1987-04-02  class2     6  Nguyen Quynh Hoa  Nam        S14 1987-04-02
15 1988-03-07  class2     7        Do Thi Hoa  Nam        S15 1988-03-07
16 1990-02-01  class3     7      Do Thanh Hai   Nu        S16 1990-02-01
17 1995-03-03  class3     5      Le Thanh Hai  Nam        S17 1995-03-03
18 1990-04-26  class1     8   Nguyen Van Hong  Nam        S18 1990-04-26
19 1985-02-24  class3     2      Do Quynh Hai   Nu        S19 1985-02-24
20 1994-05-25  class3     6        Do Thi Hoa  Nam        S20 1994-05-25
21 1986-07-12  class2     5    Tran Thanh Hai   Nu        S21 1986-07-12
22 1995-06-10  class2     2     Luong Thi Luc  Nam        S22 1995-06-10
23 1991-01-18  class3     7     Luong Lai Hai   Nu        S23 1991-01-18
24 1984-08-13  class1     7     Tran Thi Hong  Nam        S24 1984-08-13
25 1988-05-04  class2     1       Le Lai Hong  Nam        S25 1988-05-04
26 1988-04-13  class1     5        Le Lai Hai   Nu        S26 1988-04-13
27 1996-06-10  class1     5  Nguyen Quynh Tam  Nam        S27 1996-06-10
28 1997-10-26  class1     3    Tran Thanh Hoa  Nam        S28 1997-10-26
29 1998-10-17  class2     5     Tran Lai Tuan   Nu        S29 1998-10-17
..        ...     ...   ...               ...  ...        ...        ...
70 1995-10-13  class3     1  Nguyen Thanh Luc   Nu        S70 1995-10-13
71 1980-10-25  class3     1    Nguyen Thi Luc  Nam        S71 1980-10-25
72 1994-10-13  class1     5      Tran Van Tam   Nu        S72 1994-10-13
73 1993-08-15  class3     2     Tran Lai Hong   Nu        S73 1993-08-15
74 1988-10-24  class2     4      Do Quynh Luc   Nu        S74 1988-10-24
75 1986-03-05  class1     2     Tran Thi Kiet   Nu        S75 1986-03-05
76 1995-09-25  class1     8       Le Van Tuan  Nam        S76 1995-09-25
77 1998-04-11  class1     6     Luong Lai Hai  Nam        S77 1998-04-11
78 1983-02-12  class3     1  Nguyen Quynh Hai   Nu        S78 1983-02-12
79 1993-03-19  class3     4        Do Lai Nam   Nu        S79 1993-03-19
80 1990-01-06  class3     7      Do Thanh Hoa  Nam        S80 1990-01-06
81 1988-04-02  class2     2   Luong Quynh Hoa  Nam        S81 1988-04-02
82 1994-10-22  class3     5      Tran Van Tam   Nu        S82 1994-10-22
83 1988-10-05  class2     3       Le Thi Kiet  Nam        S83 1988-10-05
84 1989-05-25  class1     3    Nguyen Thi Hai  Nam        S84 1989-05-25
85 1982-08-13  class2     9     Luong Van Nam  Nam        S85 1982-08-13
86 1997-06-06  class1     7        Do Van Nam   Nu        S86 1997-06-06
87 1992-08-22  class1     2        Do Van Hoa   Nu        S87 1992-08-22
88 1992-04-05  class2     7    Nguyen Lai Luc   Nu        S88 1992-04-05
89 1990-10-13  class2     8  Luong Quynh Kiet  Nam        S89 1990-10-13
90 1987-08-14  class2     3      Tran Lai Tam   Nu        S90 1987-08-14
91 1989-06-06  class3     9   Nguyen Thi Tuan   Nu        S91 1989-06-06
92 1998-07-09  class3     6        Le Lai Nam   Nu        S92 1998-07-09
93 1995-03-25  class3     7   Nguyen Van Tuan   Nu        S93 1995-03-25
94 1995-06-12  class3     7        Do Thi Hoa   Nu        S94 1995-06-12
95 1991-04-27  class3     6    Nguyen Thi Hai  Nam        S95 1991-04-27
96 1989-05-11  class1     7    Nguyen Van Tam  Nam        S96 1989-05-11
97 1994-01-19  class3     4  Luong Thanh Hong  Nam        S97 1994-01-19
98 1983-10-23  class2     6        Le Thi Nam  Nam        S98 1983-10-23
99 1980-09-26  class2     2  Nguyen Quynh Nam  Nam        S99 1980-09-26

[100 rows x 7 columns]

In [141]:
# list(map(lambda y: 'str' + str(y), range(100)))

In [323]:
for x in range(100):
    pd.Timestamp(np.random.randint(1980, 1999),np.random.randint(1,12), np.random.randint(1,31))

In [326]:
(datetime.now() - dataFrame.Birthday)

0    13727 days 19:26:19.667599
1    12168 days 19:26:19.667599
2     8890 days 19:26:19.667599
3    12700 days 19:26:19.667599
4    10727 days 19:26:19.667599
5     7646 days 19:26:19.667599
6    13181 days 19:26:19.667599
7    10167 days 19:26:19.667599
8    11198 days 19:26:19.667599
9    11680 days 19:26:19.667599
10    8269 days 19:26:19.667599
11   10032 days 19:26:19.667599
12   13721 days 19:26:19.667599
13   12997 days 19:26:19.667599
14   11299 days 19:26:19.667599
15   10959 days 19:26:19.667599
16   10263 days 19:26:19.667599
17    8407 days 19:26:19.667599
18   10179 days 19:26:19.667599
19   12066 days 19:26:19.667599
20    8689 days 19:26:19.667599
21   11563 days 19:26:19.667599
22    8308 days 19:26:19.667599
23    9912 days 19:26:19.667599
24   12261 days 19:26:19.667599
25   10901 days 19:26:19.667599
26   10922 days 19:26:19.667599
27    7942 days 19:26:19.667599
28    7439 days 19:26:19.667599
29    7083 days 19:26:19.667599
                ...
70    8183 days 19:26:19.667599
71   13649 days 19:26:19.667599
72    8548 days 19:26:19.667599
73    8972 days 19:26:19.667599
74   10728 days 19:26:19.667599
75   11692 days 19:26:19.667599
76    8201 days 19:26:19.667599
77    7272 days 19:26:19.667599
78   12809 days 19:26:19.667599
79    9121 days 19:26:19.667599
80   10289 days 19:26:19.667599
81   10933 days 19:26:19.667599
82    8539 days 19:26:19.667599
83   10747 days 19:26:19.667599
84   10515 days 19:26:19.667599
85   12992 days 19:26:19.667599
86    7581 days 19:26:19.667599
87    9330 days 19:26:19.667599
88    9469 days 19:26:19.667599
89   10009 days 19:26:19.667599
90   11165 days 19:26:19.667599
91   10503 days 19:26:19.667599
92    7183 days 19:26:19.667599
93    8385 days 19:26:19.667599
94    8306 days 19:26:19.667599
95    9813 days 19:26:19.667599
96   10529 days 19:26:19.667599
97    8815 days 19:26:19.667599
98   12556 days 19:26:19.667599
99   13678 days 19:26:19.667599
Name: Birthday, Length: 100, dtype: timedelta64[ns]