In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('input.csv')
data

  reservation_id  depart    arrive    modified
0              A  London     Seoul  2016-04-25
1              A  London     Tokyo  2016-04-27
2              B   Tokyo  New York  2016-05-16
3              B   Osaka  New York  2016-05-19

In [8]:
data.groupby('reservation_id').max()

                depart    arrive    modified
reservation_id
A               London     Tokyo  2016-04-27
B                Tokyo  New York  2016-05-19